<section col-12>
  <h1>Retrieve Access Token</h1>
  {% for item in AccessTokenResponse %}
    <p><b>{{ item }}</b> : {{ AccessTokenResponse[item] }}</p>
  {% endfor %}
</section>

<section col-12>
  <h1>Retrieve Sales Access Token</h1>
  <p><b>Success</b> : {{ SalesAccessTokenResponse['Success'] }}</p>
  <p><b>salesAccessToken</b> : <span id="SATValue">{{ SalesAccessTokenResponse['SalesAccessToken'] }}</span></p>
</section>


<script type="text/javascript">
  var salesAccessToken = document.getElementById('SATValue').value;
  const targetWindow = window.opener;
  targetWindow && targetWindow.postMessage(JSON.stringify({
    type: 'salesAccessTokenCallback',
    salesAccessToken: salesAccessToken,
  }), '*');
</script>