<section col-12>
  <h1>Retrieve Access Token</h1>
  {% for item in AccessTokenResponse %}
    <p><b>{{ item }}</b> : {{ AccessTokenResponse[item] }}</p>
  {% endfor %}
</section>

<section col-12>
  <h1>Retrieve Sales Access Token</h1>
  {% for item in SalesAccessTokenResponse %}
    <p><b>{{ item }}</b> : {{ SalesAccessTokenResponse[item] }}</p>
  {% endfor %}
</section>


<script type="text/javascript">
  var salesAccessToken = SalesAccessTokenResponse['SalesAccessToken'];
  const targetWindow = window.opener;
  targetWindow && targetWindow.postMessage(JSON.stringify({
    type: 'salesAccessTokenCallback',
    salesAccessToken: salesAccessToken,
  }), '*');
</script>